@media all and (max-width: 1170px)
{
    #header
    {
        background: url('img/man-2.jpg');
        background-size: 100%, 100%;
        height: 70vh;
        width: 100vw;
        position: relative;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
    #header h1
    {
        position: absolute;
        top: 30%;
        left: 55%;
        color: white;
        text-transform: uppercase;
        font-size: 0.7em;
    }
    
    #header>h1>strong
    {
        display: block;
        text-transform: uppercase;
        font-size: 2em;
    }
}

@media all and (max-width: 992px)
{
    
    #header
    {
        background: url('img/man-1.jpg');
        background-size: 100% 100%;
        height: 50vh;
        width: 100vw;
        background-repeat: no-repeat;
        
    }
    
    #header h1
    {
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-size: 1em;
        transform: translate(-50%,-50%);
        margin-top: 50vh;
        color: black;
    }
    
    #header>h1>strong
    {
        display: block;
        text-transform: uppercase;
        font-size: 1.8em;
    }   
}